RewriteEngine On
RewriteBase /
RewriteRule ^interior/archives/200811015.php$ /product/detail.php?id=11 [R=301,L]
RewriteRule ^interior/archives/2013111324.php$ /product/detail.php?id=5 [R=301,L]
RewriteRule ^interior/archives/200811016.php$ /product/detail.php?id=23 [R=301,L]
RewriteRule ^interior/archives/2012040221.php$ /product/detail.php?id=12 [R=301,L]
RewriteRule ^interior/archives/200811017.php$ /product/detail.php?id=14 [R=301,L]
RewriteRule ^interior/archives/200811012.php$ /product/detail.php?id=19 [R=301,L]
RewriteRule ^interior/archives/200811014.php$ /product/detail.php?id=18 [R=301,L]
RewriteRule ^interior/archives/200811013.php$ /product/detail.php?id=19 [R=301,L]
RewriteRule ^exterior/archives/200811019.php$ /product/detail.php?id=22 [R=301,L]
RewriteRule ^exterior/archives/2011091419.php$ /product/detail.php?id=17 [R=301,L]
RewriteRule ^exterior/archives/2008110110.php$ /product/detail.php?id=21 [R=301,L]
RewriteRule ^exterior/archives/2010060717.php$ /product/detail.php?id=13 [R=301,L]
RewriteRule ^exterior/archives/2008110111.php$ /product/detail.php?id=26 [R=301,L]
RewriteRule ^exterior/archives/2014091925.php$ /product/detail.php?id=16 [R=301,L]
RewriteRule ^exterior/archives/2015062927.php$ /product/detail.php?id=20 [R=301,L]
RewriteRule ^exterior/archives/2008110112.php$ /product/detail.php?id=25 [R=301,L]
RewriteRule ^exterior/archives/2011112820.php$ /product/detail.php?id=24 [R=301,L]
RewriteRule ^exterior/archives/2009032614.php$ /product/detail.php?id=15 [R=301,L]
